.logoWrapper {
    grid-row: 1;
    margin-left: 80px;
    max-width: 25vh;
}

.logoImg {
    width: 25vh;
}

@media (max-width: 1860px) {
    .logoImg {
        width: 20vh;
    }
}


@media (max-width: 1750px) {
    .logoImg {
        width: 15vh;
    }
}

@media (max-width: 1650px) {
    .logoImg {
        width: 10vh;
    }
}

@media (max-width: 1550px) {
    .logoImg {
        width: 5vh;
    }
}

/*@media (max-width: 1250px) {*/
/*    .wrapperApp {*/
/*        grid-template-columns: 1fr 4.5fr;*/
/*    }*/
/*}*/

/*@media (max-width: 1050px) {*/
/*    .wrapperApp {*/
/*        grid-template-columns: 1fr 4fr;*/
/*    }*/
/*}*/

/*@media (max-width: 1000px) {*/
/*    .wrapperApp {*/
/*        grid-template-columns: 1fr 4fr;*/
/*    }*/
/*}*/

/*@media (max-width: 850px) {*/
/*    .wrapperApp {*/
/*        grid-template-columns: 0.2fr 3.5fr;*/
/*    }*/
/*    .content {padding-left: 105px;}*/
/*}*/